.staff{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.staff-img{

  width: 20rem;
}

.text-wrapper{
  background-color: black;
  filter: drop-shadow(2px 0px 1px gray);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.text-wrapper h2{
  font-size: var(--size-5xl);
  color: white;
  font-family: font-pixel;
  font-style: bold;
   
}

.text-wrapper p{
  font-size: var(--size-3xl);
  color: var(--color-old-green);
  font-family: font-pixel;
  font-style: italic;
  font-weight: 100;
}
